.forgottenPasswordPage{

}
.forgottenPasswordPage .default-block{
}

.forgottenPasswordPage__inside-container{
    padding: 15px;

}
.forgottenPasswordPage .default-title{
    margin-top: 3px;

}
.forgottenPasswordPage__bottom-block{
    border-top: 1px solid #838383;
    padding: 20px;
}
.forgottenPasswordPage__bottom-block button{
    margin: auto;
    display: block;
}
