.photosPage{
    width: 92%;
    margin: auto;
}
.photosPage__images-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
}
.photosPage__images-container img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 15px;
    cursor: pointer;

    border-radius: 6px;
}